#

#

# **DAVI CA1 (Data Cleaning)**
---
#### by Tan Eu Zin, P2415927, from DAAA/FT/2B/22

#

# **Imports :**
---

In [37]:
import pandas as pd 
import numpy as np 
import re

#

# **Importing HDB Data (Given) Data :**
---

In [38]:
ds = pd.read_csv('HDB Resale flat prices-2017-2025v2.csv')

C:\Users\ezinn\AppData\Local\Temp\ipykernel_27800\4074349963.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  ds = pd.read_csv('HDB Resale flat prices-2017-2025v2.csv')

#

# **Viewing / Analysing Data :**
---

In [39]:
# viewing the dataset
ds

# we see that there are 11 columns with 202764 rows

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,2017-01,ANG MO KIO,2 ROOM,@406,AMK AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,232000.0
1,2017-01,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New-Generation,1978,60 years 07 months,250000.0
2,2017-01,ANG MO KIO,3-ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New-Generation,1980,62 years 05 months,262000.0
3,2017-01,ANG MO KIO,3 ROOM,465,AMK AVE 10,04 TO 06,68.0,New Generation,1980,62 years 01 month,265000.0
4,2017-01,AMK,3-ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 y 05 months,265000.0
...,...,...,...,...,...,...,...,...,...,...,...
202759,2025-02,YISHUN,EXECUTIVE,723,YISHUN ST 71,07 TO 09,146.0,Maisonette,1986,60 years 05 months,818888.0
202760,2025-01,YISHUN,EXECUTIVE,836,YISHUN ST 81,01 TO 03,146.0,Maisonette,1988,62 years 02 months,960000.0
202761,2025-02,YISHUN,EXECUTIVE,824,YISHUN ST 81,01 TO 03,145.0,Apartment,1987,61 years 10 months,868888.0
202762,2025-02,YISHUN,EXECUTIVE,826,YISHUN ST 81,10 TO 12,146.0,Maisonette,1988,62 years,1100888.0
202763,2025-02,YISHUN,EXECUTIVE,826,YISHUN ST 81,10 TO 12,146.0,Maisonette,1988,62 years,1100888.0

In [40]:
# view the dataset information
ds.info()

# we can see the dtype for each column
# some of the dtype are wrong 
# for example, the 'resale_price' column should be float64 but is object
# we need to make use of this to convert the column to the correct dtype during cleaning

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202764 entries, 0 to 202763
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   month                202764 non-null  object
 1   town                 202764 non-null  object
 2   flat_type            202764 non-null  object
 3   block                202764 non-null  object
 4   street_name          202764 non-null  object
 5   storey_range         202764 non-null  object
 6   floor_area_sqm       202764 non-null  float64
 7   flat_model           202764 non-null  object
 8   lease_commence_date  202764 non-null  int64
 9   remaining_lease      202764 non-null  object
 10  resale_price         202764 non-null  object
dtypes: float64(1), int64(1), object(9)
memory usage: 17.0+ MB

In [41]:
# checking for missing rows of data 
print('Missing Values For Each Column :\n\n', ds.isnull().sum())

# we see that there are no missing values in the dataset
# we do not need to drop any rows or columns or find other ways to fill in missing values

Missing Values For Each Column :

 month                  0
town                   0
flat_type              0
block                  0
street_name            0
storey_range           0
floor_area_sqm         0
flat_model             0
lease_commence_date    0
remaining_lease        0
resale_price           0
dtype: int64

#

# **Cleaning Data :**
---

#

### **Cleaning 'flat_model' column**

In [42]:
# get the unique values of 'flat_model' column
unique_values = ds['flat_model'].unique()
print(unique_values)

['Improved' 'New-Generation' 'New Generation' 'NG' 'DBSS' 'Standard'
 'Apartment' 'Simplified' 'Model A' 'Premium Apartment' 'Adjoined flat'
 'Model A-Maisonette' 'Maisonette' 'Type S1' 'Type S2' 'Model A2'
 'Terrace' 'Improved-Maisonette' 'Premium Maisonette' 'Multi Generation'
 'Premium Apartment Loft' 'Model -A' '2-room' '3Gen']

In [43]:
# some of the values are not uniform, for example:
# 'New-Generation', 'New Generation', 'NG' all mean the same thing
# we need to make them uniform

# we see that new-generation, new generation, NG all mean the same thing, so we will make it uniform to New Generation 
ds['flat_model'] = ds['flat_model'].replace(['New-Generation', 'New Generation', 'NG'], 'New Generation')

# we see that Model -A and Model A is the same thing as well 
ds['flat_model'] = ds['flat_model'].replace(['Model -A', 'Model A'], 'Model A')

# replace hyphens with spaces
ds['flat_model'] = ds['flat_model'].str.replace('-', ' ')

# print results after cleaning
print('\nAfter cleaning the flat_model column :\n\n', ds['flat_model'].unique())

After cleaning the flat_model column :

 ['Improved' 'New Generation' 'DBSS' 'Standard' 'Apartment' 'Simplified'
 'Model A' 'Premium Apartment' 'Adjoined flat' 'Model A Maisonette'
 'Maisonette' 'Type S1' 'Type S2' 'Model A2' 'Terrace'
 'Improved Maisonette' 'Premium Maisonette' 'Multi Generation'
 'Premium Apartment Loft' '2 room' '3Gen']

#

### **Cleaning 'town' Column**

In [44]:
# now we will clean the 'town' column

# get the unique values of 'town' column
unique_values = ds['town'].unique()
print(unique_values)

['ANG MO KIO' 'AMK' 'BEDOK' 'BISHAN' 'BUKIT BATOK' 'BUKIT MERAH'
 'BUKIT PANJANG' 'BUKIT TIMAH' 'CENTRAL AREA' 'CHOA CHU KANG' 'CLEMENTI'
 'GEYLANG' 'HOUGANG' 'JURONG EAST' 'JURONG WEST' 'KALLANG/WHAMPOA'
 'MARINE PARADE' 'PASIR RIS' 'PUNGGOL' 'QUEENSTOWN' 'SEMBAWANG' 'SENGKANG'
 'SERANGOON' 'TAMPINES' 'TOA PAYOH' 'WOODLANDS' 'YISHUN' 'CCK' 'SENG-KANG']

In [45]:
# we can see that similar towns are displayed in different ways
# we need to make them uniform

# get the unique values of 'town' column
unique_values = ds['town'].unique()
print(unique_values)

# we see that alot of the same towns are displayed in another manner, so we make it uniform 
ds['town'] = ds['town'].replace(['ANG MO KIO', 'AMK'], 'ANG MO KIO')
ds['town'] = ds['town'].replace(['SENGKANG', 'SENG-KANG'], 'SENGKANG')
ds['town'] = ds['town'].replace(['CHOA CHU KANG', 'CCK'], 'CHOA CHU KANG')

# print results after cleaning
print('\nAfter cleaning the town column :\n\n', ds['town'].unique())

['ANG MO KIO' 'AMK' 'BEDOK' 'BISHAN' 'BUKIT BATOK' 'BUKIT MERAH'
 'BUKIT PANJANG' 'BUKIT TIMAH' 'CENTRAL AREA' 'CHOA CHU KANG' 'CLEMENTI'
 'GEYLANG' 'HOUGANG' 'JURONG EAST' 'JURONG WEST' 'KALLANG/WHAMPOA'
 'MARINE PARADE' 'PASIR RIS' 'PUNGGOL' 'QUEENSTOWN' 'SEMBAWANG' 'SENGKANG'
 'SERANGOON' 'TAMPINES' 'TOA PAYOH' 'WOODLANDS' 'YISHUN' 'CCK' 'SENG-KANG']

After cleaning the town column :

 ['ANG MO KIO' 'BEDOK' 'BISHAN' 'BUKIT BATOK' 'BUKIT MERAH' 'BUKIT PANJANG'
 'BUKIT TIMAH' 'CENTRAL AREA' 'CHOA CHU KANG' 'CLEMENTI' 'GEYLANG'
 'HOUGANG' 'JURONG EAST' 'JURONG WEST' 'KALLANG/WHAMPOA' 'MARINE PARADE'
 'PASIR RIS' 'PUNGGOL' 'QUEENSTOWN' 'SEMBAWANG' 'SENGKANG' 'SERANGOON'
 'TAMPINES' 'TOA PAYOH' 'WOODLANDS' 'YISHUN']

#

### **Cleaning 'remaining_lease' Column**

In [46]:
# after cleaning the town column, now we check the remaining_lease column

# getting the rows that do not have proper format --> X years Y months
not_proper_format = ds['remaining_lease'].apply(lambda x: not ('years' in x))

# using the boolean series to filter and get the 'remaining_lease' column
improper_rows = ds[not_proper_format]['remaining_lease']

# show the 'remaining_lease' values and their index labels for the improper rows
print('Rows found to be in the improper format :')
print(improper_rows)

Rows found to be in the improper format :
4      62 y 05 months
11    59 ys 08 months
Name: remaining_lease, dtype: object

In [47]:
# now we change the values in the 2 rows (index 4 and 11) to match our fixed format 

ds.loc[4, 'remaining_lease'] = '62 years 05 months'
ds.loc[11, 'remaining_lease'] = '59 years 08 months'

# verify the changes
print('After making changes :')
print(ds.loc[[4, 11], 'remaining_lease'])

After making changes :
4     62 years 05 months
11    59 years 08 months
Name: remaining_lease, dtype: object

In [48]:
# we can see that the values in the 'remaining_lease' column are now in the proper format, but are messy
# we will now clean the 'remaining_lease' column to make it uniform by converting all values to months

# write a function to convert the years in remaining_lease column to months to make it uniform
def convert_to_months(lease_str):
    if isinstance(lease_str, str):
        parts = lease_str.lower().split()
        years = 0
        months = 0
        for i in range(len(parts)):
            if parts[i] == 'years':
                years = int(parts[i-1])
            elif parts[i] == 'months':
                months = int(parts[i-1])
        return (years * 12) + months
    return None # handle potential non-string values

# create a new column 'remaining_lease_months' by applying the function to 'remaining_lease'
ds['remaining_lease_months'] = ds['remaining_lease'].apply(convert_to_months)

# drop the old unclean column
ds.drop('remaining_lease', axis=1, inplace=True)

# display the result
print(ds['remaining_lease_months'].head()) 

# we can see now that all the remaing_lease is changed into months to make it uniform

0    736
1    727
2    749
3    744
4    749
Name: remaining_lease_months, dtype: int64

#

### **Cleaning 'flat_type' Column**

In [49]:
# now we will clean the 'flat_type' column

print(ds['flat_type'].unique())

['2 ROOM' '3 ROOM' '3-ROOM' '4 ROOM' '5 ROOM' 'EXECUTIVE' '1 ROOM'
 'MULTI-GENERATION' '3 RM' '5-RM' '3 ROOMS' '3 ROOMs' '4 ROOMS' '4 ROOMSS']

In [50]:
# we see that many of the values with the same meaning are being displayed differently
# now we make it all uniform 

ds['flat_type'] = ds['flat_type'].replace(['3 ROOM', '3-ROOM', '3 RM', '3 ROOMS', '3 ROOMs'], '3 ROOM')
ds['flat_type'] = ds['flat_type'].replace(['4 ROOM', '4 ROOMs', '4 ROOMSS', '4 ROOMS'], '4 ROOM')
ds['flat_type'] = ds['flat_type'].replace(['5 ROOM', '5-RM'], '5 ROOM')

# print results after cleaning
print('\nAfter cleaning the flat_type column :\n\n', ds['flat_type'].unique())

After cleaning the flat_type column :

 ['2 ROOM' '3 ROOM' '4 ROOM' '5 ROOM' 'EXECUTIVE' '1 ROOM'
 'MULTI-GENERATION']

#

### **Cleaning 'lease_commence_date' Column**

In [51]:
# now we look at the lease_commence_date column

# check if there are any weird values
print('Checking for weird year values :\n')
print(ds['lease_commence_date'].unique())

# doesnt seem to have much issues here for this column

Checking for weird year values :

[1979 1978 1980 1981 1976 1977 2011 2012 1996 1988 1985 1986 1974 1984
 1983 1987 1982 2000 2001 2005 1989 2010 1972 1993 1973 1992 1990 1998
 2004 1997 1971 1975 1970 1969 2013 2008 1999 2003 2002 1995 2006 1967
 1968 2007 1991 1966 2009 1994 2014 2015 2016 2017 2018 2019 2020 2021]

#

### **Cleaning 'resale_price' Column**

In [52]:
# now we check the resale_price column 

# since the resale_price column is a string, there must be a symbol of some sorts inside 
# so we check for it

# here are the symbols to check for 
symbols_to_check = ['!', '@', '#', '$', '%', '^', '&', '*', '-']

#  initialize a boolean Series
contains_symbol = pd.Series([False] * len(ds)) 

# loop to check for symbols
for symbol in symbols_to_check:
    contains_symbol = contains_symbol | ds['resale_price'].str.contains(symbol, na=False, regex=False)

# rows found to have symbols
rows_with_symbols = ds[contains_symbol]['resale_price']
print("Rows containing specified symbols:")
print(rows_with_symbols)

Rows containing specified symbols:
88746    -255000
88747    -262000
88748    -275000
88749    -276000
88750    285-000
Name: resale_price, dtype: object

In [53]:
# change negative values to positive since it is not possible for house prices to be negative and remove any unnecessary symbols

# change '285-000' to a number (assuming it means 285000)
ds.loc[88750, 'resale_price'] = float(285000)

# identify negative values
negative_prices = ds['resale_price'].astype(float) < 0

# take the absolute value of the negative prices
ds.loc[negative_prices, 'resale_price'] = abs(ds.loc[negative_prices, 'resale_price'].astype(float))

# verify the changes 
print('Values that are changed to be positive : ')
print(ds.loc[negative_prices, 'resale_price'])
print('\nValue with - removed :')
print(ds.loc[88750, 'resale_price'])

# now we convert the 'resale_price' column to float64
ds['resale_price'] = ds['resale_price'].astype('float64')

# verify the data type change
print('\nresale_price column dtype : ', ds['resale_price'].dtype)

Values that are changed to be positive :
88746      255000.0
88747      262000.0
88748      275000.0
88749      276000.0
202743     700000.0
202745    7458000.0
202746     740000.0
202747     685000.0
202752    1008000.0
Name: resale_price, dtype: object

Value with - removed :
285000.0

resale_price column dtype :  float64

#

### **Cleaning 'floor_area_sqm' Column**

In [54]:
# since this column is already in float64, we only need to check for missing and negative values as both are not applicable
# missing data cannot be used (already checked earlier infront) and it is not possible for floor area to be negative either

# create a boolean series indicating rows where 'floor_area_sqm' is negative
negative_area = ds['floor_area_sqm'] < 0

# get the count of negative floor area values
num_negative_area = negative_area.sum()
print(f"\nNumber of negative floor area values : {num_negative_area}")

# since there are no negative values, we do not need to clean this column

Number of negative floor area values : 0

#

### **Cleaning 'month' Column**

In [55]:
# using a try except to check if there are any weird rows of data / not in correct format and check for missing values 
# the month column should be in the format YYYY-MM 

try:
    pd.to_datetime(ds['month'], format='%Y-%m', errors='raise')
    print("The 'month' column appears to be consistently in 'YYYY-MM' format!!!")
except ValueError as e:
    print(f"Potential formatting issues found in 'month' column :\n{e}")

# since there are no issues, no need to clean this column
# we can move on to the next column

The 'month' column appears to be consistently in 'YYYY-MM' format!!!

#

### **Cleaning 'block' Column**

In [56]:
# viewing the issues in the block column 

# backup the original block values
ds['original_block'] = ds['block']

# define validation function
def is_valid_block(block):
    # check if the block starts with a digit and contains only alphanumeric characters
    return bool(re.match(r'^[0-9][a-zA-Z0-9]*$', str(block)))


# filter and display rows with invalid block values
invalid_blocks = ds[~ds['block'].apply(is_valid_block)]
print(invalid_blocks[['block']])

         block
0         @406
15       @@230
44        @304
45      "**646
47     "**588C
19126     @160
19127     333%
19128     #332
19129     #321
19130     #346
19142     $105
19143     $226
19144     220%
19145     241%
19146     &219
19147    %289E
19148    %289E

In [57]:
# we can see that there are some blocks that do not start with a digit or have non-alphanumeric characters 
# blocks in singapore typically start with a digit followed by alphanumeric characters
# we will have to remove the symbols and ensure that the block starts with a digit

# now we clean up the block column 

# define cleaning function
def clean_block(block):

    # remove all non-alphanumeric characters and ensure it starts with a digit
    cleaned = re.sub(r'[^a-zA-Z0-9]', '', str(block))

    # ensure the cleaned block starts with a digit
    return cleaned if cleaned and cleaned[0].isdigit() else None

# clean the block values
ds['block'] = ds['block'].apply(lambda x: clean_block(x) if not is_valid_block(x) else x)

# show only rows where the block was changed due to cleaning
changed_rows = ds[ds['block'] != ds['original_block']]
print(changed_rows[['original_block', 'block']])

      original_block block
0               @406   406
15             @@230   230
44              @304   304
45            "**646   646
47           "**588C  588C
19126           @160   160
19127           333%   333
19128           #332   332
19129           #321   321
19130           #346   346
19142           $105   105
19143           $226   226
19144           220%   220
19145           241%   241
19146           &219   219
19147          %289E  289E
19148          %289E  289E

In [58]:
# now we drop the original_block column as it is no longer needed 
ds.drop(columns=['original_block'], inplace=True)

In [59]:
# now we check that the block column is cleaned and has no invalid values
print(ds['block'])

0         406
1         108
2         602
3         465
4         601
         ...
202759    723
202760    836
202761    824
202762    826
202763    826
Name: block, Length: 202764, dtype: object

#

### **Cleaning 'storey_range' Column**

In [60]:
# now we clean the 'storey_range' column 

# backup the original storey_range values
ds['original_storey_range'] = ds['storey_range']

# define a function to validate storey range format XX TO YY
def is_valid_storey_range(storey_range):

    # valid format: 'xx TO yy' where xx and yy are two-digit numbers
    return bool(re.match(r'^\d{2} TO \d{2}$', str(storey_range)))


# filter and count rows with invalid storey range values
invalid_storey_ranges = ds[~ds['storey_range'].apply(is_valid_storey_range)]

# show the invalid storey ranges
print("invalid storey ranges before cleaning:")
print(invalid_storey_ranges[['storey_range']])

invalid storey ranges before cleaning:
      storey_range
8          04---06
9           01@@03
10           01@03
11           10@12
14          07@@09
22537     04 -- 06
22538     01 ---03
22539    07 --- 09
22545     04 -- 06
22546     07 -- 09
22547     04 -- 06
22623       10--12
22624     01----03
88753       10-Dec
88754        4-Jun
88755      13 - 15
88756        4-Jun
88785     04 -- 06
88786     07 -- 09
88787    22 --- 24
88788     19 -- 21
88789     22 -- 24
88790     19 -- 21
88791     01 -- 03

In [61]:
# looking at the rows, some of the storey ranges do not give two numbers 
# these rows are 88756, 88754 and 88753
# since we cannot determine the storey range, we will drop these rows 

ds.drop(index=[88756, 88754, 88753], inplace=True)

# now we can check the storey range column again 
# check the storey range column after dropping the invalid rows
print("invalid storey ranges before cleaning and after dropping unclean-able rows :")
print(invalid_storey_ranges[['storey_range']])

invalid storey ranges before cleaning and after dropping unclean-able rows :
      storey_range
8          04---06
9           01@@03
10           01@03
11           10@12
14          07@@09
22537     04 -- 06
22538     01 ---03
22539    07 --- 09
22545     04 -- 06
22546     07 -- 09
22547     04 -- 06
22623       10--12
22624     01----03
88753       10-Dec
88754        4-Jun
88755      13 - 15
88756        4-Jun
88785     04 -- 06
88786     07 -- 09
88787    22 --- 24
88788     19 -- 21
88789     22 -- 24
88790     19 -- 21
88791     01 -- 03

In [62]:
# now we clean the remaining values in the 'storey_range' column that do not match the valid format

# define a function to clean storey range values
def clean_storey_range(storey_range):

    # convert to string and ensure it's not None
    s = str(storey_range)

    # remove all non-digit characters except spaces, then replace multiple spaces with a single space

    cleaned = re.sub(r'[^0-9 ]', ' ', s) # remove all non-digit characters except spaces
    cleaned = re.sub(r'\s+', ' ', cleaned).strip() # replace multiple spaces with a single space and strip leading/trailing spaces

    # try to extract numbers from the cleaned string
    numbers = re.findall(r'\d+', cleaned)

    if len(numbers) == 2:

        # if two numbers are found, format them as 'XX TO YY'
        try:
            num1 = int(numbers[0])
            num2 = int(numbers[1])
            return f"{num1:0>2} TO {num2:0>2}"
        except ValueError:
            return None # should not happen if re.findall only finds digits, but for safety
    
    return None # return None if no valid numbers can be extracted



# apply cleaning

# the lambda function ensures that clean_storey_range is only called if the value is NOT already valid
ds['storey_range'] = ds['storey_range'].apply(
    lambda x: clean_storey_range(x) if not is_valid_storey_range(x) else x
)

# show only rows where the storey range was changed due to cleaning
changed_storey_ranges = ds[ds['storey_range'] != ds['original_storey_range']]
print("Storey ranges that were changed:")
print(changed_storey_ranges[['original_storey_range', 'storey_range']])

Storey ranges that were changed:
      original_storey_range storey_range
8                   04---06     04 TO 06
9                    01@@03     01 TO 03
10                    01@03     01 TO 03
11                    10@12     10 TO 12
14                   07@@09     07 TO 09
22537              04 -- 06     04 TO 06
22538              01 ---03     01 TO 03
22539             07 --- 09     07 TO 09
22545              04 -- 06     04 TO 06
22546              07 -- 09     07 TO 09
22547              04 -- 06     04 TO 06
22623                10--12     10 TO 12
22624              01----03     01 TO 03
88755               13 - 15     13 TO 15
88785              04 -- 06     04 TO 06
88786              07 -- 09     07 TO 09
88787             22 --- 24     22 TO 24
88788              19 -- 21     19 TO 21
88789              22 -- 24     22 TO 24
88790              19 -- 21     19 TO 21
88791              01 -- 03     01 TO 03

#

# **Cleaned Data** (given)
---

In [63]:
# now we view the cleaned dataset (given)
ds

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease_months,original_storey_range
0,2017-01,ANG MO KIO,2 ROOM,406,AMK AVE 10,10 TO 12,44.0,Improved,1979,232000.0,736,10 TO 12
1,2017-01,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,250000.0,727,01 TO 03
2,2017-01,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,262000.0,749,01 TO 03
3,2017-01,ANG MO KIO,3 ROOM,465,AMK AVE 10,04 TO 06,68.0,New Generation,1980,265000.0,744,04 TO 06
4,2017-01,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,265000.0,749,01 TO 03
...,...,...,...,...,...,...,...,...,...,...,...,...
202759,2025-02,YISHUN,EXECUTIVE,723,YISHUN ST 71,07 TO 09,146.0,Maisonette,1986,818888.0,725,07 TO 09
202760,2025-01,YISHUN,EXECUTIVE,836,YISHUN ST 81,01 TO 03,146.0,Maisonette,1988,960000.0,746,01 TO 03
202761,2025-02,YISHUN,EXECUTIVE,824,YISHUN ST 81,01 TO 03,145.0,Apartment,1987,868888.0,742,01 TO 03
202762,2025-02,YISHUN,EXECUTIVE,826,YISHUN ST 81,10 TO 12,146.0,Maisonette,1988,1100888.0,744,10 TO 12
202763,2025-02,YISHUN,EXECUTIVE,826,YISHUN ST 81,10 TO 12,146.0,Maisonette,1988,1100888.0,744,10 TO 12

#

# **Exporting Cleaned Data** (given)
---

In [64]:
# now we export the cleaned dataset to a new CSV file
ds.to_csv('HDB_Resale_flat_prices_CLEANED.csv', index=False)

#

# **Importing Additional Dataset**
---

In [65]:
ds2 = pd.read_csv('HDBResalePriceIndex1Q2009100Quarterly.csv')

- This dataset shows the index (% increase) of resale prices of HDB flats overtime. 
- We will use this dataset as our external dataset to plot a maximum of 2 visualisations.
- This dataset will support our claim in showing the increase in house prices.
- The first column, 'quarter', shows the quarters of the year. (For example, 2020-Q1 is the first quarter of the year 2020).
- The second column, 'index', is used to represent the relative change of a set of prices (in this case, HDB resale prices) compared to a chosen base period.

#

# **Viewing / Analysing Additional Dataset**
---

In [66]:
# viewing the additional dataset
ds2

# we see that there are 141 rows with 2 columns

     quarter  index
0    1990-Q1   24.3
1    1990-Q2   24.4
2    1990-Q3   25.0
3    1990-Q4   24.7
4    1991-Q1   24.9
..       ...    ...
136  2024-Q1  183.7
137  2024-Q2  187.9
138  2024-Q3  192.9
139  2024-Q4  197.9
140  2025-Q1  201.0

[141 rows x 2 columns]

#

# **Cleaning Additional Dataset**
---

In [67]:
# first wheck for null values in each column of ds2
print("\nNull values in 'ds2' per column:")
print(ds2.isnull().sum())

Null values in 'ds2' per column:
quarter    0
index      0
dtype: int64

In [68]:
# next we check the data types of each column
ds2.info()
# quarter is in correct type, and index is in float64 which is the desired type as well

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141 entries, 0 to 140
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   quarter  141 non-null    object
 1   index    141 non-null    float64
dtypes: float64(1), object(1)
memory usage: 2.3+ KB

In [69]:
# since the given dataset only has data from 2017 to 2025 (2 months after 2025), we will only keep the rows that are within this range

# drop rows where the 'quarter' is before '2017-Q1'
ds2 = ds2[ds2['quarter'] >= '2017-Q1']

# display the resulting dataset
print(ds2)

# we can see now that the dataset only contains data from 2017-Q1 to 2025-Q2
# the rows match the given dataset as well in terms of time period

     quarter  index
108  2017-Q1  133.9
109  2017-Q2  133.7
110  2017-Q3  132.8
111  2017-Q4  132.6
112  2018-Q1  131.6
113  2018-Q2  131.7
114  2018-Q3  131.6
115  2018-Q4  131.4
116  2019-Q1  131.0
117  2019-Q2  130.8
118  2019-Q3  130.9
119  2019-Q4  131.5
120  2020-Q1  131.5
121  2020-Q2  131.9
122  2020-Q3  133.9
123  2020-Q4  138.1
124  2021-Q1  142.2
125  2021-Q2  146.4
126  2021-Q3  150.6
127  2021-Q4  155.7
128  2022-Q1  159.5
129  2022-Q2  163.9
130  2022-Q3  168.1
131  2022-Q4  171.9
132  2023-Q1  173.6
133  2023-Q2  176.2
134  2023-Q3  178.5
135  2023-Q4  180.4
136  2024-Q1  183.7
137  2024-Q2  187.9
138  2024-Q3  192.9
139  2024-Q4  197.9
140  2025-Q1  201.0

In [70]:
# this is our final cleaned dataset - ds2
ds2

     quarter  index
108  2017-Q1  133.9
109  2017-Q2  133.7
110  2017-Q3  132.8
111  2017-Q4  132.6
112  2018-Q1  131.6
113  2018-Q2  131.7
114  2018-Q3  131.6
115  2018-Q4  131.4
116  2019-Q1  131.0
117  2019-Q2  130.8
118  2019-Q3  130.9
119  2019-Q4  131.5
120  2020-Q1  131.5
121  2020-Q2  131.9
122  2020-Q3  133.9
123  2020-Q4  138.1
124  2021-Q1  142.2
125  2021-Q2  146.4
126  2021-Q3  150.6
127  2021-Q4  155.7
128  2022-Q1  159.5
129  2022-Q2  163.9
130  2022-Q3  168.1
131  2022-Q4  171.9
132  2023-Q1  173.6
133  2023-Q2  176.2
134  2023-Q3  178.5
135  2023-Q4  180.4
136  2024-Q1  183.7
137  2024-Q2  187.9
138  2024-Q3  192.9
139  2024-Q4  197.9
140  2025-Q1  201.0

#

# **Exporting Cleaned Dataset** (additional)
---

In [71]:
# now we export the additional cleaned dataset to a new CSV file
ds2.to_csv('HDBResalePriceIndex1Q2009100Quarterly_CLEANED.csv', index=False)

#

- Now we are done cleaning the dataset. 
- We have also found another dataset to further support our claim. 
- The additional dataset has also been cleaned. 
- Now we can import these cleaned datasets into Tableau visualising software to start visualising and telling our "story".